@model List<User>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-plus-circle fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Rehbere Eklenen Kişi Sayısı: <b>@ViewBag.totalUserCount</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-location-arrow fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Rehbere Eklenen Konum Sayısı: <b>@ViewBag.totalLocationCount</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-phone fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Rehbere Eklenen Telefon Sayısı: <b>@ViewBag.totalPhoneCount</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trash fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Rehberden Silinen Kişi Sayısı: <b>@ViewBag.totalDeletedUserCount</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <a href="/User/Add" style="float:left">Yeni Kişi Ekle</a>
            <h6 class="mb-0" style="display:block;margin:0 auto;float:none;">
                Rehbere Eklenen Son 5 Kişi
            </h6>
            <a href="/User/Index">Tümünü Gör</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0 text-center">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Soyadı</th>
                        <th scope="col">Firma</th>
                        <th scope="col">İletişim Tipi</th>
                        <th scope="col">İletişim İçeriği</th>
                        <th scope="col">Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Company</td>
                            <td>@user.Contacts[0].Type</td>
                            <td>@user.Contacts[0].Content</td>
                            <td><a class="btn btn-sm btn-primary" href="/User/Detail/@user.Id">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>